@page "/Prestamos/Index"
@rendermode InteractiveServer
@inject PrestamosServices prestamoServices
@inject NavigationManager navigationManager


<EditForm Model="ListaPrestamos" class="p-3 rounded">

    <div class="card-header bg-light text-center py-2">
        <h3 class="mb-0">Consulta Prestamos</h3>
    </div>

    <div class="card-body">
        <div class="row mb-3">
            <div class="col-md-3">
                <label for="Filtro" class="form-label">Filtrar por:</label>
                <select @bind="filtro" class="form-select">
                    <option value="id">ID</option>
                    <option value="Nombres">Nombres</option>
                    <option value="Concepto">Concepto</option>
                    <option value="Monto">Monto</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="ValorFiltro" class="form-label">Busqueda:</label>
                <div class="input-group">
                    <input @bind="valorFiltro" class="form-control" placeholder="Buscar" />
                    <button @onclick="Buscar" class="btn btn-outline-primary" type="button">
                        <span class="bi bi-search"></span> Buscar
                    </button>
                </div>
            </div>
            <div class="col-md-3 text-end">
                <a href="/PrestamosPages/Create" class=" btn btn-primary bi bi-plus-square mt-3">Crear Prestamo</a>
            </div>
        </div>
    </div>

    <table class="table table-bordered text-center">
        <thead class="bg-light">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Concepto</th>
                <th>Monto</th>
                <th>Ver</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prestamos in ListaPrestamos)
            {
                <tr>
                    <td>@prestamos.PrestamoId</td>
                    <td>@prestamos.Nombres</td>
                    <td>@prestamos.Concepto</td>
                    <td>@prestamos.Monto</td>
                    <td>
                        <a class="btn btn-outline-primary" href="/PrestamosPages/Detail/@prestamos.PrestamoId">
                            <span class="bi bi-eye"></span>
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-outline-success" href="/PrestamosPages/Edit/@prestamos.PrestamoId">
                            <span class="bi bi-pencil"></span>
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" href="/PrestamosPages/Delete/@prestamos.PrestamoId">
                            <span class="bi bi-trash"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</EditForm>

@code {

    public Prestamos prestamos = new Prestamos();

    public List<Prestamos> ListaPrestamos = new List<Prestamos>();

    private string filtro = "Id";
    private string valorFiltro = "";

    protected override async Task OnInitializedAsync()
    {
        ListaPrestamos = await prestamoServices.Listar(p => true);
    }

    public async Task Guardar()
    {
        var guardo = await prestamoServices.Guardar(prestamos);
    }

    private async Task Buscar()
    {
        if (valorFiltro.Trim() != "")
        {
            if (filtro == "id" && int.TryParse(valorFiltro, out int Id))
            {
                ListaPrestamos = await prestamoServices.Listar(p => p.PrestamoId == Id);
            }
            else if (filtro == "Nombres")
            {
                ListaPrestamos = await prestamoServices.Listar(p => p.Nombres == valorFiltro);
            }
        }
        else
        {
            ListaPrestamos = await prestamoServices.Listar(p => true);
        }
    }

}

